<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div
            class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
        <div class="col-lg-4 d-flex align-items-center">
            <mat-card class="cardWithShadow boxed-auth">
                <mat-card-content class="p-32">
                    <h1>Lista meczy</h1>
                    <mat-list>
                        <mat-action-list *ngFor="let match of competitionModel.matches">
                          <h2 class="title">{{match.date}}</h2>
                          <div class="match-container">
                            <h2 matListItemTitle class="team-name">Drużyna {{match.firstTeamId}}</h2>
                            <h2 matListItemTitle class="result">{{match.firstTeamScore}} : {{match.secondTeamScore}}</h2>
                            <h2 matListItemTitle class="team-name">Drużyna {{match.secondTeamId}}</h2>
                          </div>
                        </mat-action-list>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
