<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div
            class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
        <div class="col-lg-4 d-flex align-items-center">
            <mat-card class="cardWithShadow boxed-auth">
              <div style="display:inline;">
                <a (click)="logout()">
                  <img src="./assets/images/svgs/logout-8.svg"
                       class="align-middle m-2"
                       style="width: 20px; float: right; margin-top: 0.5rem !important; margin-right: 0.5rem !important; cursor: pointer;"
                       alt="logo"/>
                </a>
                <a (click)="goBack()" style="cursor: pointer">
                  <img src="./assets/images/svgs/go-back-arrow-svgrepo-com.svg"
                       class="align-middle m-2" style="width: 20px; float: left;  margin-top: 0.5rem !important; margin-left: 0.5rem !important;"
                       alt="logo"
                  />
                </a>
              </div>

                <mat-card-content class="p-32">
                    <h1>Lista meczy</h1>
                    <mat-list>
                        <mat-action-list *ngFor="let match of competitionModel.matches">
                          <h2 class="title">{{match.date}}</h2>
                          <div class="match-container">
                            <h2 matListItemTitle class="team-name">Drużyna {{match.firstTeamId}}</h2>
                            <h2 matListItemTitle class="result">{{match.firstTeamScore}} : {{match.secondTeamScore}}</h2>
                            <h2 matListItemTitle class="team-name">Drużyna {{match.secondTeamId}}</h2>
                          </div>
                        </mat-action-list>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
