.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 25%;
  height: 10rem;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.match-container {
  display: flex;
  width: 100%;
  justify-content: space-between;;
  align-items: center;
}

.team-name {
  font-weight: bold;
  font-size: 1rem;
}

.result {
  font-size: 1rem;
  margin: 0 5px;
}

.matches-container-box {
}

.button {
  margin-bottom: .5em;
}
